@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }

  html {
    font-size: 62.5%;
  }

  body {
    font-size: 1.6rem;
  }

  ::-webkit-scrollbar {
    width: 3px;
    height: 12px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  :root {
    --purple-primary: 100 70 70;
    --text-item-hover: 132 77 77;
    --text-primary: 50 50 61;
    --text-secondary: 105 105 105;
    --layout-bg: 229 227 223;
  }
}

@layer components {
  .navlink {
    border-left: 3px solid transparent;
  }

  .navlink.active {
    border-left: 3px solid #614646;
    background-color: #ceccc9;
    color: #614646;
  }

  .navlink.navlink.active .navlink-play-btn {
    display: none;
  }

  .sub-sidebar {
    overflow-y: scroll;
    height: calc(100vh - 42rem);
  }

  .range {
    --thumb-display: none;
    --slider-height: 4px;
    display: block;
    border-radius: 4px;
    -webkit-appearance: none;
    background: linear-gradient(to right, #614646 0%, #c6c4bc 0%);
  }
  .range:hover {
    --thumb-display: block;
    --slider-height: 6px;
  }
  .range::-webkit-slider-runnable-track {
    height: var(--slider-height);
    border-radius: 4px;
  }
  .range::-webkit-slider-thumb {
    appearance: none;
    background-color: #614646;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(255, 194, 39, 0.2);
    cursor: pointer;
    translate: 0 -3px;
    display: var(--thumb-display);
  }

  .playlist-item__desc {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .header-bg-scroll {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.08);
    background-color: rgba(229, 227, 223, 0.8);
    backdrop-filter: blur(50px);
  }

  .shadow-playListSideBarActiveTag {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.07);
  }
  .album-img-shadow {
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
  }
  .filter-tag {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  }

  .width-hero-detail-artist {
    width: calc(100vw - 240px);
  }

  .header-inset {
    inset: 0 0 0 50px;
  }
  @media (width >= 80rem) {
    .header-inset {
      inset: 0 0 0 240px;
    }
  }

  .bg-new-single-of-artist {
    background: linear-gradient(
      286.07deg,
      rgba(229, 227, 223, 0.95) 55.21%,
      rgba(229, 227, 223, 0.6)
    );
  }

  .text-number {
    -webkit-text-stroke: 1px #6b3483;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }

  .slick-slide > div {
    margin: 0 4px;
  }
  .slick-list {
    margin: 0 -4px;
  }
  .slick-slider.slick-initialized {
    margin: 0 -10px 0 -10px;
  }
}
