@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }

  html {
    font-size: 62.5%;
  }
  body {
    font-size: 1.6rem;
    background-color: #e5e3df;
    color: #32323d;
  }

  /* custom scroll bar */
  /* The entire scrollbar */
  ::-webkit-scrollbar {
    width: 3px; /* Width of the vertical scrollbar */
    height: 12px; /* Height of the horizontal scrollbar */
  }

  /* The scrollbar track */
  ::-webkit-scrollbar-track {
    background: transparent; /* Color of the track */
    border-radius: 10px; /* Rounded corners for the track */
  }

  /* The draggable part of the scrollbar */
  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1); /* Color of the thumb */
    border-radius: 10px; /* Rounded corners for the thumb */
  }

  /* The thumb when hovered */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Darker color on hover */
  }
}

.navlink {
  border-left: 3px solid transparent;
}

.navlink.active {
  border-left: 3px solid #614646;
  background-color: #ceccc9;
  color: #614646;
}

.navlink.navlink.active .navlink-play-btn {
  display: none;
}

.sub-sidebar {
  overflow-y: scroll;
  height: calc(100vh - 42rem);
}

.range {
  --thumb-display: none;
  --slider-height: 4px;
  width: 100%;
  display: block;
  border-radius: 4px;
  -webkit-appearance: none;
  background: linear-gradient(to right, #614646 0%, #c6c4bc 0%);
}

.range:hover {
  --thumb-display: block;
  --slider-height: 6px;
}

.range::-webkit-slider-runnable-track {
  height: var(--slider-height);
  border-radius: 4px;
}

.range::-webkit-slider-thumb {
  appearance: none;
  background-color: #614646;
  width: 12px;
  border-radius: 50%;
  height: 12px;
  box-shadow: 0 0 5px rgba(255, 194, 39, 0.2);
  cursor: pointer;
  translate: 0 -3px;
  display: var(--thumb-display);
}

.playlist-item__desc {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.playlist-item__title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header-bg-scroll {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.08);
}

.shadow-playListSideBarActiveTag {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.07);
}

.album-img-shadow {
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
}

/* .new-release-pop-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
} */
