@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root[data-theme="gray"] {
    --purple-primary: #644646;
    --text-item-hover: #844d4d;
    --text-primary: #32323d;
    --text-secondary: #696969;
    --layout-bg: #e5e3df;
    --sidebar-bg: rgba(0, 0, 0, 0.05);
    --navigation-text: #32323d;
    --alpha-bg: rgba(0, 0, 0, 0.05);
    --border-primary: rgba(0, 0, 0, 0.1);
    --progressbar-active-bg: var(--purple-primary);
    --progressbar-player-bg: rgba(0, 0, 0, 0.1);
    --queue-player-popup-bg: #e5e3df;
    --box-shadow-queue: 0 1px 0 rgba(0, 0, 0, 0.3), 0 1px 6px rgba(0, 0, 0, 0.3),
      inset 0 1px 1px hsla(0, 0%, 100%, 0.3);
    --text-muted: rgba(20, 20, 20, 0.4);
    --link-text-hover: #844d4d;
    --primary-bg: #f7f5f3;
    --search-text: #282828;
    --box-item-bg: hsla(0, 0%, 100%, 0.3);
    --new-release-box-shadow: hsla(0, 0%, 81.2%, 0.4);
    --main-text-stroke: #6b3483;
  }

  :root[data-theme="dark"] {
    --purple-primary: #9b4de0;
    --text-item-hover: #fff;
    --text-primary: #fff;
    --text-secondary: hsla(0, 0%, 100%, 0.5);
    --layout-bg: #1e1e1e;
    --sidebar-bg: hsla(0, 0%, 100%, 0.05);
    --navigation-text: #a0a0a0;
    --alpha-bg: hsla(0, 0%, 100%, 0.1);
    --border-primary: hsla(0, 0%, 100%, 0.1);
    --progressbar-active-bg: #fff;
    --progressbar-player-bg: hsla(0, 0%, 100%, 0.3);
    --queue-player-popup-bg: #2d2f32;
    --box-shadow-queue: 0 1px 0 rgba(0, 0, 0, 0.3), 0 1px 6px rgba(0, 0, 0, 0.3),
      inset 0 1px 1px rgba(25, 255, 255, 0.05);
    --text-muted: rgba(254, 255, 255, 0.6);
    --link-text-hover: #c273ed;
    --primary-bg: #333;
    --search-text: #eee;
    --box-item-bg: hsla(0, 0%, 100%, 0.1);
    --new-release-box-shadow: none;
    --main-text-stroke: #fff;
  }

  * {
    box-sizing: border-box;
  }

  html {
    font-size: 62.5%;
  }

  body {
    font-size: 1.6rem;
  }

  ::-webkit-scrollbar {
    width: 3px;
    height: 12px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  :root {
    --black-variable: #32323d;
  }
}

@layer components {
  .navlink {
    border-left: 3px solid transparent;
  }

  .navlink.active {
    border-left: 3px solid var(--purple-primary);
    background-color: var(--alpha-bg);
    color: var(--text-item-hover);
  }

  .navlink.navlink.active .navlink-play-btn {
    display: none;
  }

  .sub-sidebar {
    overflow-y: scroll;
    height: calc(100vh - 42rem);
  }

  .range {
    --thumb-display: none;
    --slider-height: 4px;
    display: block;
    border-radius: 4px;
    -webkit-appearance: none;
    background: linear-gradient(to right, #614646 0%, #c6c4bc 0%);
  }
  .range:hover {
    --thumb-display: block;
    --slider-height: 6px;
  }
  .range::-webkit-slider-runnable-track {
    height: var(--slider-height);
    border-radius: 4px;
  }
  .range::-webkit-slider-thumb {
    appearance: none;
    background-color: var(--progressbar-active-bg);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    cursor: pointer;
    translate: 0 -3px;
    display: var(--thumb-display);
  }

  .playlist-item__desc {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .header-bg-scroll {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(50px);
  }

  .shadow-playListSideBarActiveTag {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.07);
  }
  .album-img-shadow {
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
  }
  .filter-tag {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  }

  .width-hero-detail-artist {
    width: calc(100vw - 240px);
  }

  .header-inset {
    inset: 0 0 0 50px;
  }
  @media (width >= 80rem) {
    .header-inset {
      inset: 0 0 0 240px;
    }
  }

  .bg-new-single-of-artist {
    background: linear-gradient(
      286.07deg,
      rgba(229, 227, 223, 0.95) 55.21%,
      rgba(229, 227, 223, 0.6)
    );
  }

  .text-number {
    -webkit-text-stroke: 1px var(--main-text-stroke);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }

  .is-mark {
    -webkit-mask-image: linear-gradient(
      180deg,
      hsla(0, 0%, 100%, 0),
      hsla(0, 0%, 100%, 0.8) 10%,
      #fff 25%,
      #fff
    );
  }
}
