@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }

  html {
    font-size: 62.5%;
  }
  body {
    font-size: 1.6rem;
    background-color: #e5e3df;
  }

  /* custom scroll bar */
  /* The entire scrollbar */
  ::-webkit-scrollbar {
    width: 3px; /* Width of the vertical scrollbar */
    height: 12px; /* Height of the horizontal scrollbar */
  }

  /* The scrollbar track */
  ::-webkit-scrollbar-track {
    background: transparent; /* Color of the track */
    border-radius: 10px; /* Rounded corners for the track */
  }

  /* The draggable part of the scrollbar */
  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1); /* Color of the thumb */
    border-radius: 10px; /* Rounded corners for the thumb */
  }

  /* The thumb when hovered */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Darker color on hover */
  }
}

.navlink {
  border-left: 3px solid transparent;
}

.navlink.active {
  border-left: 3px solid #614646;
  background-color: #ceccc9;
  color: #614646;
}

.navlink.navlink.active .navlink-play-btn {
  display: none;
}

.sub-sidebar {
  overflow-y: scroll;
  height: calc(100vh - 42rem);
}
